{% extends 'index.html' %}

{% block body %}
<h1>Hoodies</h1>
<div class="card" style="width: 18rem;">
  <img src="https://scontent.fmga6-1.fna.fbcdn.net/v/t39.30808-6/210064239_4279633315434336_1556535516620028579_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=bQSNXmXR5N4AX_9dx5V&_nc_ht=scontent.fmga6-1.fna&oh=9d8053d654fdc24894ed91c4895a2498&oe=60F56D46" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hoodie Arcoiris</h5>
    <p class="card-text">Descripcion.</p>
    <a href="#" class="btn btn-success">COMPRAR</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://scontent.fmga6-1.fna.fbcdn.net/v/t1.6435-9/161560286_3958685070862497_2352113432708343960_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=6MNEePSTx_MAX8qJZEi&_nc_ht=scontent.fmga6-1.fna&oh=7282ff7b857f0b3f5bb9e80989ba73fa&oe=60F43B66" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hoodie NASA</h5>
    <p class="card-text">Descripcion.</p>
    <a href="#" class="btn btn-success">COMPRAR</a>
  </div>
</div>
{% endblock %}